.linkedin-btn {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  span {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    font-size: 18px;
    font-weight: 400;
  }
  button {
    border: none;
  }
}

.auth-code {
  background: ghostwhite;
  padding: 10px;
  border: 1px solid lightgray;
  align-items: center;
  text-align: center;
  margin: 4rem 0;
}
