<mat-toolbar color="primary">
  <span class="fill-remaining-space">Basic Functionality Practice</span>
</mat-toolbar>
<mat-tab-group preserveContent>
  <mat-tab label="Social Auth">
    <app-social-auth [linkedInAuthCode]="linkedInToken"></app-social-auth>
  </mat-tab>
  <mat-tab label="Basic">
    <app-basic-form></app-basic-form>
  </mat-tab>
  <mat-tab label="Advance">
    <app-advance-form></app-advance-form>
  </mat-tab>
  <mat-tab label="Kanban">
    <app-kanban-board></app-kanban-board>
  </mat-tab>
</mat-tab-group>
