.fill-remaining-space {
  flex: 1 1 auto;
}

.container {
  padding: 10px;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-element {
  padding: 5px 0px 25px 2px;
  width: 100%;
}

.button {
  width: 100%;
}
.content-section {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
table {
  width: 100%;
}
thead {
  background-color: #b9a3a340 !important;
}
th {
  &.mat-header-cell {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
  }
}

.submit-btn {
  display: flex;
  justify-content: space-around;
}

.action-btn {
  max-width: 10rem;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.radio-button {
  margin: 5px;
}
